---
import { RecipeForm } from "@/components/react/RecipeForm";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Neues Rezept erstellen">
  <main class="container mx-auto px-4 py-8">
    <RecipeForm client:load />
  </main>
</Layout>