---
import { LOCALE, SITE } from "@/config";
---

<html lang="{LOCALE.lang}">
  <head></head>


<body>
  <slot />
  <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>

</body>
</html>
